@import url('https://fonts.googleapis.com/css?family=PT+Serif');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */


body {

  h2 {
    font-weight: bold;
  }
  // loading
  @keyframes rotating {
    0% {
      -ms-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    20% {
      -ms-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    100% {
      -ms-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  .loading-table{
    display: table;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    position: fixed;
    background-color: black;
    .image-chargement {
      opacity: 0;

      &.charge {
        opacity: 1;
        -webkit-transition: all 2s ease-in-out;
        -o-transition: all  2s ease-in-out;
        transition: all  2s ease-in-out;
      }
    }

  }
  .loading-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .loading-circle{
    background-color: #B03A2D;
    width: 30px;
    height: 30px;
    margin:10px;
    border-radius: 50%;
    display: inline-block;
  }




  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .salle {
    .col-md-7 {
      padding-right: 4.25rem;
      padding-left: 0rem;
      &.order-md-2 {
        padding-left: 4.25rem;
        padding-right: 0rem;
      }
    }
    h3 {
      font-size: 32px;
      font-weight: bold;
      line-height:60px;
      span {
        font-size: 90px;
        font-weight: bolder;
        background-position: 40% 50%;
        background-size: 100%;
        -webkit-background-clip: text;
        color: transparent;
        &.orange {
          background-image: url('../images/herbe-haute.jpg');
        }
        &.cyan {
          background-image: url('../images/herbe-haute-cyan.jpg');
        }
        &.bleu {
          background-image: url('../images/herbe-haute-bleu.jpg');
        }
        &.marron {
          background-image: url('../images/herbe-haute-salon.jpg');
        }
        &.jaune {
          background-image: url('../images/herbe-haute-jaune.jpg');
        }
      }
    }
    p {
      line-height: 22px;
      text-align: justify;
      font-size: 16px;
      color: #000 !important;
      &.text-muted {
        color: #999 !important;
      }
    }
    img {
      width: 100%;
      height: 500px;
      position: relative;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .intro {
    padding: 150px 0;
    margin: 50px 0;
    background: url('../images/rumahjaebali05b.jpg') no-repeat;
    background-position: 50% 50%;
    background-size:cover;
    color: white;
    h3 {

    }
    p{

    }
  }

  .card {
    border : 0px solid #333;

    .card-body {
      background-color: white;
      padding: 20px;
      position: relative;

      h5 {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-block;
        top: -35px;
        background-color: white;
        padding: 10px 30px;
      }
      p {
        position: relative;
        line-height: 22px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-block;
        top: -50px;
        background-color: white;
      }
    }
  }

  /* Custom page header */
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
  }

  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }

  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
  }



  .container h2 {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 100px;
  }

  .header {
    background-color: white;
    padding-top: 1.5em;
  }

  .navbar {
    padding: 0.5rem 0.5rem !important;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar.block-fixe {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .carousel-inner {
    height: 100vh;
  }

  .nav-link {
    font-size: 18px;
    display: inline-block;
    margin: 0 1rem;
  }


  @media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
      display: -ms-flexbox!important;
      display: inline-block !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }
}

.logo-img {
  position: absolute;
  bottom: 30vh;
  text-align: center;
  display: inline-block;
  opacity: 1;
  width: 100%;

  img {
    margin:auto;
  }
}
.title {
  position: absolute;
  bottom: 40vh;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 120px;
  letter-spacing: 5px;
  line-height: 110px;

  opacity: 1;
  transition: all 0.5s linear;
  span {
    display: inline-block;
    text-align: right;
    margin-left: 250px
  }

}
.fa-angle-down {
  position: absolute;
  bottom: 20px;
  opacity: 1;
  display: block;
  font-size: 60px;
  left: 49%;
  color: white;
  transition: all 0.5s linear;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

.transparent {
  opacity: 0;
  transition: all 0.5s linear;
}


footer {
  .fa{
    color: black;
  }
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

.gallery {

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
  .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
  .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 9px !important;
    padding-left: 9px !important;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -9px !important;
    margin-left: -9px !important;
  }

}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  height: 100vh;
  background: url("../images/umah-jae-21.jpg") center center;
  background-size:cover;
  background-attachment: fixed;


}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3.5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -.05rem;
}

#villa.container {
  margin-bottom: 180px;

}

footer {
  margin-bottom: 0px !important;
}

#contact {
  margin-bottom: 50px;
}

.spinnets-left{
  font-size: 160px;
  display: block;
  float: left;
  font-weight: 400;
  font-family: 'PT Serif', serif;
  position: relative;
  left: -30px;
  top: -40px;
  height: 50px;
  color: #cc6600;
}

.spinnets-right {
  font-size: 160px;
  display: block;
  font-family: 'PT Serif', serif;
  position: relative;
  float: right;
  bottom: 40px;
  height: 50px;
  color: #cc6600;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



// GALLERY

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

$white: #fff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #ea8478;
$footer: #f7f7f7;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::before, &::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: $gray;
  background: $white;
  text-rendering: optimizeLegibility;
}

ul li {
  margin: 0 1.5rem 0 0;
}

a {
  color: $gray;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover {
    color: $black;
  }
  &.active {
    color: $black;
  }
}

nav {
  padding: 2.5rem 0 2.5rem 0;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  li {
    font-size: 1.25rem;
    &:nth-child(2) {
      margin: 0;
    }
  }
}

#highlight {
  color: $highlight;
  font-size: 1.25rem;
}

.gallery {
  padding: 0 0 4rem 0;
  .container {
    margin-bottom: 10px;
  }
}

.img-container {
  width: 100%;
  height: 520px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &:hover .img-content-hover {
    display: block;
  }

  &.middle {
    height: 250px;
    img {
      height: 250px;
    }
  }
  .opac-black {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 520px;
    cursor: pointer;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all  0.8s ease-in-out;
    transition: all  0.8s ease-in-out;
    z-index: 1;
    &:hover {
      background-color: rgba(250, 250, 250, 0.3);
    }
  }
}
.gallery {
  position: relative;
  .zoom {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all  0.3s ease-in-out;
    transition: all  0.3s ease-in-out;
    transform-origin: center center;
    &:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all  0.3s ease-in-out;
      transition: all  0.3s ease-in-out;
      -webkit-transform:scale(1); /* Safari et Chrome */
      -moz-transform:scale(1); /* Firefox */
      -ms-transform:scale(1); /* Internet Explorer 9 */
      -o-transform:scale(1); /* Opera */
      transform:scale(1);
      z-index: 100;
      transform-origin: center center;
      > img {
        box-shadow: 10px 10px 10px black;
      }
    }
  }
  img {
    width: 100%;
    height: 520px;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all  0.8s ease-in-out;
    transition: all  0.8s ease-in-out;

  }
}

.img-content-hover {
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  display: none;
  padding: 1rem;
  background: $white;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: -2rem;
}


.category {
  font-size: 1rem;
  color: $gray;
}

.img-content {
  display: none;
}

.social, .copyright {
  margin: 1rem;
}

.social li {
  display: inline-block;
}

footer {
  padding: 1rem 0;
  background: $footer;
  text-align: center;
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}



@media screen and (max-width: 1024px) {
  img:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .img-container {
    height: 100%;
    &:hover .img-content-hover {
      display: none;
    }
  }

  .img-content {
    display: block;
    padding: 1rem 0;
  }
}


@media screen and (max-width: 600px) {
  body {


    .carousel {
      margin-bottom: 20px;
      height: 180px;
      background: url(../images/umah-jae-21.jpg) no-repeat;
      background-size: 100%;
      background-attachment: fixed;

    }

    .container h2 {
      padding-top: 20px;
    }
    .logo-img {
      position: absolute;
      bottom: 40vh;
      display: inline-block;
      opacity: 1;
      top: 35px;
      img {
        margin: auto;
        width: 20%;
      }
    }
    #villa.container {
    margin-bottom: 40px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    img {
      width: 40%;
    }
}
.spinnets-left,.spinnets-right {
  display: none;
}
    .salle {
      .col-md-7.order-md-2{
        padding-left: 10px;
        padding-right: 10px;;
      }
      .col-md-7 {
        padding-left: 10px;
        padding-right: 10px;;
      }
      h3 {
        line-height: 40px;
        span {
          font-size: 50px;
          font-weight: bolder;
          background: url('../images/herbe-haute.jpg') repeat;
          background-position: 40% 50%;
          -webkit-background-clip: text;
          color: transparent;

        }
      }


    }
    .logo-img {
      position: absolute;
      bottom: 40vh;
      display: inline-block;
      opacity: 1;
    }
    // .title {
    //   position: absolute;
    //   bottom: 40vh;
    //   font-weight: 700;
    //   display: inline-block;
    //   text-align: center;
    //   width: 100%;
    //   color: white;
    //   font-size: 10vh;
    //   letter-spacing: auto;
    //   line-height: auto;
    //   opacity: 1;
    //   -webkit-transition: all 0.5s linear;
    //   transition: all 0.5s linear;
    //   span {
    //     display: inline-block;
    //     text-align: right;
    //     margin-left: 50px;
    //   }
    // }
  }
}
